/* 11. Site Footer
/* ---------------------------------------------------------- */

.site-footer {
  position: relative;
  padding-top: 20px;
  padding-bottom: 60px;

  background: color(var(--darkgrey) l(-15%));
}

.site-footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.3rem;
}

.site-footer-content a {
  color: rgba(0, 0, 0, 0.7);
}

.site-footer-content a:hover {
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

.site-footer-nav {
  display: flex;
}

.site-footer-nav a {
  position: relative;
  margin-left: 20px;
}

.site-footer-nav a:before {
  content: '';
  position: absolute;
  top: 11px;
  left: -11px;
  display: block;
  width: 2px;
  height: 2px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 100%;
}

.site-footer-nav a:first-of-type:before {
  display: none;
}

@media (max-width: 650px) {
  .site-footer-content {
    flex-direction: column;
  }
  .site-footer-nav a:first-child {
    margin-left: 0;
  }
}
