@import './goods.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: Book Antiqua, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 2;
  @include medium {
    font-size: 1.1em;
  }
}

a {
  color: #01a8e3;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
hr,
blockquote,
pre,
img {
  margin: 2em 0 0;
}
